<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Conditions</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="ml-auto">
            <a class="navbar-brand" href="logout">Logout</a>
        </div>
    </nav>
      
    <h1>Weather App</h1>
    <form action="/weather">
        <input type="text" name="city" id="city" placeholder="Enter a City" />
        <button type="submit">Find</button>
    </form>
    <footer>Developed by Daniel Giday</footer>
</body>

</html>