<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Conditions</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="ml-auto">
        
        </div>
    </nav>
      
    <h2>Loged out</h2>
    <form action="/weather">
        Please Signin
        <p>Signin <a href="/signin"> Click Here</a></p>
    </form>
    <footer>Developed by Daniel Giday</footer>
</body>

</html>