<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="ml-auto">
            <a class="navbar-brand" href="/">Home</a>
            <a class="navbar-brand" href="signin">Signin</a>
            <a class="navbar-brand" href="signup">Signup</a>
            <a class="navbar-brand" href="logout">Logout</a>
        </div>
    </nav>
    <h2>Signin</h2>
    <form method="POST" action="/login">
        <input type="text" name="username" class="form-control" placeholder="Username"><br>
        <input type="password" name="password" class="form-control" placeholder="Password">
        <p>Not Registered? <a href="/signup"> Click Here</a></p>
        <button type="submit">Login</button>
    </form>
    <footer>Developed by Daniel Giday</footer>
</body>

</html>